# Created by https://www.gitignore.io

### Composer ###
composer.phar
vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock


### Editor (Vim, PhpStorm) ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
.idea/

composer.lock
config.php
config.jira.json
jira-rest-client.log
screen_capture.png
bug-description.pdf

.env

# Ignore Vagrant Stuff
.vagrant
Vagrantfile
# Ignore scotch.io box and the folders of them
public/
storage/
