language: php

php:
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - hhvm

before_install:
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction --prefer-dist

before_script:
  - cp .env.example .env
  
script:
  - ./vendor/bin/phpunit --verbose tests/MockTest
  - ./vendor/bin/phpunit --verbose tests/SerializeTest
  - ./vendor/bin/phpunit --verbose tests/MapperTest

matrix:
  allow_failures:
    - php: hhvm
    - php: 5.6
  fast_finish: true
